{% extends 'TLDashboardBundle::layout.html.twig' %}
{% block folder %}
<div id="js-folder-wrapper">

</div>

  <ul class="nav nav-pills">
    {% for folder in user.folders %}
    <li><a data-toggle="pill" class="active" href="#{{ folder.id }}">{{ folder.title }} <span class="badge">{% if folder.tasks %}{{ folder.nbTaskPending }}{% endif %}</span></a></li>
    {% endfor %}
    <li><a  href="{{ path('tl_dashboard_folder_add')}}"style="cursor:pointer;">Add a folder <span class="badge">+</span></a></li>
  </ul>
  <div class="tab-content">
  {% for folder in user.folders %}
    <div id="{{ folder.id }}" class="tab-pane fade in active">
      <div class="pull-right">
        <a type="button" class="btn btn-primary" href="{{ path('tl_dashboard_folder_edit', {'folderId': folder.id })}}">    
          <span class="glyphicon glyphicon-edit"></span>
        </a>
        <a type="button" class="btn btn-danger" href="{{ path('tl_dashboard_folder_delete', {'folderId': folder.id })}}">    
          <span class="glyphicon glyphicon-trash"></span>
        </a>             
      </div>      
      <h3>
        {{ folder.title }} 
        <a type="button" class="btn btn-success" href="{{ path('tl_dashboard_task_add', {'folderId': folder.id })}}">    
          <span class="glyphicon glyphicon-plus"></span>
        </a>        
      </h3>
      <div class="well">
        {{ folder.description }}
      </div>
      <ul class="list-group">
        {% for task in folder.tasks %}
          {% if task.status == false %}
        <li class="list-group-item">
          <a class="pull-right" href="{{path('tl_dashboard_task_delete', {'taskId': task.id})}}" style="font-size:20px; color:red;">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
          <a class="pull-right" href="{{ path('tl_dashboard_task_set_done', {'taskId': task.id})}}" style="font-size:20px; color:green; padding-right:10px;">
            <span class="glyphicon glyphicon-ok-sign"></span>
          </a>
          <p class="{% if task.priority == true %} list-group-item-danger{% endif %}" style="max-width:90%;">
            {{ task.content }}
          <p>
          <p class="pull-right">{% if task.priority == true %}
            <span style="color:red;"class="glyphicon glyphicon-exclamation-sign"></span>
            {% endif %} Created the {{ task.createdAt|date('y/m/Y') }}
          </p>
        <div>
        {% if task.priority == true %}
        <a href="{{ path('tl_dashboard_task_set_priority', {'taskId': task.id }) }}">
          <span class="glyphicon glyphicon-pushpin" style="font-size:20px; color:red;"></span>
        </a>
        {% else %}
        <a href="{{ path('tl_dashboard_task_set_priority', {'taskId': task.id }) }}">
          <span class="glyphicon glyphicon-pushpin" style="font-size:20px;"></span>
        </a>        
        {% endif %}
        {% if task.daysLeftToFinish %}
        <p style="display:inline-block; padding-left:5px;">
          {{ task.daysLeftToFinish }} days left to finish
          <span class="glyphicon glyphicon-chrono"></span>
        </p>
        {% endif %}
        </div>
        </li>
            {% endif %}
          {% else %}
          <li class="list-group-item">No task yet in this folder</li>
          {% endfor %}
      </ul>    
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascript %}
 {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script type="text/babel" src="{{ asset('bundles/tlcore/js/user.react.js') }}"></script>
    <script type="text/babel">
      ReactDOM.render(
        <FolderSection />
        document.getElementById('js-folder-wrapper')
      );
    </script>
{% endblock %}